{% extends '../base.html' %} 
{% load static %} 
{% block title %}Bibliotia - Iniciar Sesion{% endblock title %} 

{% block content %}

<form action="{% url 'account:login' %}" method="POST"> {% csrf_token %}

  <div class="d-flex align-items-center mb-3 pb-1">
    <a href="/"
      ><span class="h1 fw-bold mb-0"
        ><img
          src="/media/icons/bibliotia.png"
          alt="logo"
          width="330px"
          height="90px"
          style="margin-bottom: 30px" /></span
    ></a>
  </div>

  <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
    Iniciar Sesion
  </h3>

  {% if form.errors %}
  <div class="alert alert-danger" role="alert">
    Error: Correo o Contraseña son incorrectas!
  </div>
  {% endif %}
  <div class="form-outline mb-4">
    <label class="form-label">{{ form.username.label }}</label>
    {{ form.username }}
  </div>

  <div class="form-outline mb-4">
    <label class="form-label">{{ form.password.label }}</label>
    {{ form.password }}
  </div>

  <button class="btn btn-dark btn-block py-2 mb-4 mt-5 fw500 w-100" type="submit">Iniciar Sesion</button>

  <p style="margin-top: 15px">{{error}}</p>

  <p class="mb-5 pb-lg-2" style="color: #393f81;text-align: center;">
    No tienes cuenta?
    <a href="{% url 'account:register' %}" style="color: #393f81">Registrate</a>
  </p>
</form>
<p class="small text-center pt-4">
    {% comment %} <a href="{% url "password_reset" %}">Forgotten Password?</a> {% endcomment %}
</p>
<p class="small text-center">
    {% comment %} <a href="{% url "accounts:register" %}">Help Center?</a> {% endcomment %}
</p>
{% endblock content %}
