{% extends "../base.html" %}
{% load static %}
{% load humanize %}

{% block title %} - Carrito de compras{% endblock title %}

{% block content %}

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
{% if not cart_items %}

	<h2 class="text-center alert alert-danger" style="padding: 30px;">No hay productos en el carrito</h2><br>
	<div class="text-center">
		<a href="{% url 'store:all_products' %}" class="btn btn-primary">Continuar Comprando</a>
	</div>

	
{% else %}

	<div class="row">
		<aside class="col-lg-9">
	<div class="card">
	<table class="table table-borderless table-shopping-cart">
	<thead class="text-muted">
	<tr class="small text-uppercase">
	<th scope="col">Productos</th>
	<th scope="col" width="120">Cantidad</th>
	<th scope="col" width="120">Precio</th>
	<th scope="col" class="text-right" width="200"> </th>
	</tr>
	</thead>
	<tbody>

	{% for cart_item in cart_items %}
	<tr>
		<td>
			<figure class="itemside align-items-center">
				<div class="aside"><img src="{{ cart_item.product.image.url }}" class="img-sm"></div>
				<figcaption class="info">
					<a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.title }}</a>
					<p class="text-muted small">Autor: {{ cart_item.product.author }} <br> Editorial: {{ cart_item.product.editorial }}</p>
				</figcaption>
			</figure>
		</td>
		<td> 
		<!-- col.// -->
		<div class="col"> 
			<div class="input-group input-spinner">
				<div class="input-group-prepend">
				<a href="{% url 'cart:cart_decrement' cart_item.product.id %}" class="btn btn-light" type="button" id="button-plus"> <i class="fa fa-minus"></i> </a>
				</div>
				<input type="text" class="form-control"  value="{{ cart_item.quantity }}">
				<div class="input-group-append">
				<a href="{% url 'cart:cart_add' cart_item.product.id %}" class="btn btn-light" type="button" id="button-minus"> <i class="fa fa-plus"></i> </a>
				</div>
			</div> <!-- input-group.// -->
		</div> <!-- col.// -->
	</td>
		<td> 
			<div class="price-wrap"> 
				<var class="price">${{ cart_item.sub_total|intcomma }}</var> 
				<small class="text-muted"> ${{ cart_item.product.price|intcomma }} c/u </small> 
			</div> <!-- price-wrap .// -->
		</td>
		<td class="text-right"> 
		<a href="{% url 'cart:cart_remove' cart_item.product.id %}" onclick="return confirm('Estas seguro de eliminar este articulo?')" class="btn btn-danger"> Eliminar</a>
		</td>
	</tr>
	{% endfor %}

	</tbody>
	</table>
	</div> <!-- card.// -->

		</aside> <!-- col.// -->
		<aside class="col-lg-3">

			<div class="card">
			<div class="card-body">
				<dl class="dlist-align">
				<dt>Precio Total:</dt>
				<dd class="text-right">${{ total|intcomma }}</dd>
				</dl>
				<dl class="dlist-align">
				<dt>Envio aprox:</dt>
				<dd class="text-right"> ${{ send|intcomma }}</dd>
				</dl>
				<dl class="dlist-align">
				<dt>Total:</dt>
				<dd class="text-right text-dark b"><strong>${{ grand_total|intcomma }}</strong></dd>
				</dl>
				<hr>
				<p class="text-center mb-3">
					<img src="{% static './images/misc/payments.png' %}" height="26">
				</p>
				<a href="{% url 'cart:checkout' %}" class="btn btn-primary btn-block"> Ir a pagar </a>
				<a href="{% url 'store:all_products' %}" class="btn btn-light btn-block">Continuar comprando</a>
			</div> <!-- card-body.// -->
			</div> <!-- card.// -->

	</aside> <!-- col.// -->


	</div> <!-- row.// -->
	<!-- ============================ COMPONENT 1 END .// ================================= -->
{% endif %}
</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
</body>

{% endblock %}