{% extends '../base.html' %} 
{% load static %}
{% block title %} - Crear Cuenta{% endblock title %}

{% block content %} {% load widget_tweaks %}



<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		{% include 'store/includes/alerts.html' %}
		<header class="mb-4"><h4 class="card-title">Crear Cuenta</h4></header>
		<form action="{% url 'accounts:register' %}" method="POST">
      	{% csrf_token %}


				<div class="form-row">
					<div class="col form-group">
						<label>Nombre</label>
					  	{{ form.first_name }}
					</div> <!-- form-group end.// -->
					<div class="col form-group">
						<label>Apellido</label>
					  	{{ form.last_name }}
					</div> <!-- form-group end.// -->
				</div> <!-- form-row end.// -->


				<div class="form-row">
					<div class="form-group col-md-6">
					  <label>Correo</label>
					  {{form.email}}
					</div> <!-- form-group end.// -->
					<div class="form-group col-md-6">
					  <label>Telefono</label>
					  {{form.phone_number}}
					</div> <!-- form-group end.// -->
				</div> <!-- form-row.// -->
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Crear contraseña</label>
					    {{ form.password }}
					</div> <!-- form-group end.// -->
					<div class="form-group col-md-6">
						<label>Repetir contraseña</label>
            {{form.confirm_password}}
					</div> <!-- form-group end.// -->
				</div>
			    <div class="form-group">
			        <button type="submit" class="btn btn-dark btn-block"> Registrarse</button>
			    </div> <!-- form-group// -->

		{% if form.errors %}
			<div class="alert alert-danger">

			{% for field in form %}
				{% for error in field.errors %}
				<p>{{ error|escape }}</p>
				{% endfor %}
			{% endfor %}

			{% for error in form.non_field_errors %}
				<p>{{ error|escape }}</p>
			{% endfor %}

			</div>
		{% endif %}

			</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Ya tienes cuenta? <a href="{% url 'accounts:login' %}">Iniciar Sesion</a></p>
    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>


{% endblock content %}