<footer class=" p-3 mt-5">
  <div class="container">
      <div class="row">
          <div class="col-md-2 ml-auto">
              <img src="/media/icons/bibliotíaiono.png" alt="Logo" class="img-fluid">
          </div>
          <div class="col-md-2">
              <h6 
                  <li >Features</li>
                  <li >Shipping</li>
              </ul>
          </div>
          <div class="col-md-2">
              <h6 >Resource</h6>
              <ul>
                  <li >Blog</li>
                  <li >User Guides</li>
              </ul>
          </div>
          <div class="col-md-2">
              <h6 >Company</h6>
              <ul>
                  <li >About</li>
                  <li >Join Us</li>
              </ul>
          </div>
          <div class="col-md-2">
              <h6 >No encuentras el libro que buscas?</h6>
              <a class="btn btn-primary" href="#">Sugerir un libro</a>
          </div>
      </div>
      <p class="text-center m-0 text-muted text-white">© 2023 Nombre del producto - <a href="#" >Privacidad</a> - <a href="#" >Términos</a> - <a href="#" >Mapa del sitio</a></p>
  </div>
</footer>