<footer class="container py-5 footer">
  <hr />
  <div class="row pt-4">
    <div class="col-12 col-md">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-asterisk"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"
        />
      </svg>
      <small class="d-block mb-3 text-muted">&copy; 2017-2021</small>
    </div>
    <div class="col-6 col-md fs15">
      <h5>Resources</h5>
      <ul class="list-unstyled">
        <li>
          <a class="link-secondary text-decoration-none" href="#">Business</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Education</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Government</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Gaming</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled">
        <li>
          <a class="link-secondary text-decoration-none" href="#">Team</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Locations</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Privacy</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Terms</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
