<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="/"
      ><img
        src="/media/icons/bibliotia.png"
        height="45px"
        width="180px"
        alt="logo-bibliotia"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse aaa"
      id="navbarSupportedContent"
      style="margin-left: 0"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item">
          <a
            class="nav-link"
            style="padding-left: 0"
            aria-current="page"
            href="#"
            >Catalogo</a
          >
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Categorias</a
          >
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item"><a class="nav-link" href="#">Todas</a></li>
            {% for category in categories %}
              <li>
                <a class="dropdown-item" href="{{ category.get_absolute_url }}" 
                  >{{ category.name|title }}</a
                >
              </li>
            {% endfor %}
          </ul>
        </li>

        <!--<li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>-->

        {% if user.is_authenticated and user.is_superuser %}

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Administracion</a
          >
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#"
                >Administrar Libros</a
              >
            </li>
          </ul>
        </li>

        {% endif %}
      </ul>

      <!-- Buttom shopping cart -->
      <form
        action="{% url 'cart:cart_summary' %}"
        class="d-flex"
        style="margin-right: 10px"
      >
        <button class="btn btn-outline-dark" type="submit">
          <i class="bi-cart-fill me-1"></i>
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>

          {% with total_qty=cart|length %}
            <div id="cart-qty" class="badge bg-dark text-white ms-1 rounded-pill">
              {% if total_qty > 0 %}
                {{ total_qty }}
              {% else %}
                0
              {% endif %}
            </div>
          {% endwith %}

        </button>
      </form>

      {% if user.is_authenticated %}

      <!-- LOGOUT -->
      <form action="{% url 'account:logout' %}" class="d-flex">
        <button class="btn btn-outline-dark" type="submit">
          <a
            style="text-decoration: none"
            class="bi-cart-fill me-1"
            href=""
            ><i
              class="fa fa-sign-out"
              aria-hidden="true"
              style="color: #000"
            ></i
          ></a>
        </button>
      </form>

      {% else %}

      <form action="{% url 'account:login' %}" class="d-flex">
        <button class="btn btn-outline-dark" type="submit">
          <a
            style="text-decoration: none"
            class="bi-cart-fill me-1"
            href=""
            ><i
              style="color: #000; margin-left: 5px"
              class="fa-solid fa-user icono"
              aria-hidden="true"
            ></i
          ></a>
        </button>
      </form>

      {% endif %}
    </div>
  </div>
</nav>
