{% extends "base/base.html" %}

{% block content %}

<!-- Header-->
<header class="py-5" style="background-color: #0B5A74;">
    <div class="container px-4 px-lg-5 my-5" >
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder" style="font-size: 80px;">Bibliotia</h1>
            <p class="lead fw-normal text-white-50 mb-0" style="font-size: 20px;">Tienda de Libros de Lectura Complementaria</p>
        </div>
    </div>
</header>

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            {% for book in books %}

                <div class="col mb-5">
                    <div class="card h-100">

                        <!-- Product image -->
                        <img width="254px" height="381px" loading="lazy" class="card-img-top" src="{{book.image_url}}" alt="{{book.name}}" />
                        
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{book.name}}</h5>
                                <h5 class="fw-bolder">{{book.editorial}}</h5>
                                <!-- Product price-->
                                ${{book.price}}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver mas</a></div>
                        </div>
                    </div>
                </div>
                
            {% endfor %}

        </div>
    </div>
</section>

{% endblock content %}