{% extends 'base/base_login.html' %} 

{% block content_signin %}

<!-- Modal -->

<form action="{% url 'index' %}">
  <div class="mb-3 mt-4">
    <label for="exampleInputEmail1" class="form-label"
      >Nombre de usuario</label
    >
    {{form.username}}
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"
      >Contraseña</label
    >
    {{form.password}}
  </div>
  <button type="submit" class="btn btn-light mt-3">Ingresar</button>
  <p>
    No estas registrado? <a href="{% url 'signup' %}">Crear Cuenta</a>
  </p>
</form>
          
{% endblock content_signin %}
