{% extends "../base.html" %} 
{% load static %}
{% load humanize %}
{% block title %}- Detalle Libro{% endblock title%} 

{% block content %}

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
	<div class="row no-gutters">
		<aside class="col-md-6">
<article class="gallery-wrap"> 
	<div class="img-big-wrap">
	   <a href="#"><img src="{{ single_product.image.url }}"></a>
	</div> <!-- img-big-wrap.// -->

</article> <!-- gallery-wrap .end// -->
		</aside>
		<main class="col-md-6 border-left">
			<form action="{% url 'cart:cart_add' single_product.id %}" method="get">
				<article class="content-body">

				<h2 class="title">{{ single_product.title }}</h2>
				<p>Stock: {{ single_product.stock }}</p>

				<div class="mb-3"> 
					<var class="price h4">${{ single_product.price|intcomma }}</var> 
				</div> 

				<p>{{ single_product.description }}</p>

					<hr>
					{% if single_product.stock <= 0 %}
						<h4 class="text-danger">Sin stock</h4>
					{% else %}
						{% if in_cart %}
							<a href="{% url 'cart:cart' %}" class="btn btn-success"> <span class="text">Producto agregado</span> <i class="fas fa-check"></i>  </a>
						{% else %}
							<button type="submit" class="btn  btn-primary"> <span class="text">Agregar al carrito</span> <i class="fas fa-shopping-cart"></i>  </button>
						{% endif %}	
					{% endif %}
				</article> <!-- product-info-aside .// -->
			</form>
		</main> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

<br>

<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="{% url 'store:all_products' %}" class="btn btn-outline-primary float-right">Ver todo</a>
	<h3 class="section-title">Productos Relacionados</h3>
</header><!-- sect-heading -->

	<div class="row">
		{% for product in products %}
			<div class="col-md-3">
				<div class="card card-product-grid">
					<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.image.url }}"> </a>
					<figcaption class="info-wrap">
						<a href="{{ product.get_url }}" class="title">{{ product.title }}</a>
						<div class="price mt-1">${{ product.price|intcomma }}</div> <!-- price-wrap.// -->
					</figcaption>
				</div>
			</div> <!-- col.// -->
		{% endfor %}
	</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}
