{% extends 'base_login.html' %} 

{% block content %} {% load widget_tweaks %}
<form action="{% url 'signup' %}" method="post">
  {% csrf_token %}

  <div class="d-flex align-items-center mb-3 pb-1">
    <a href="{% url 'index' %}"
      ><span class="h1 fw-bold mb-0"
        ><img
          src="../../static/images/bibliotia.png"
          alt="logo"
          width="330px"
          height="90px" /></span
    ></a>
  </div>

  <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">Crear Cuenta</h3>

  <div class="form-outline mb-4">
    {% render_field form.username class="form-control form-control-lg" %}
    <label class="form-label">Nombre de usuario</label>
  </div>

  <div class="form-outline mb-4">
    {% render_field form.password1 class="form-control form-control-lg" %}
    <label class="form-label">Contraseña</label>
  </div>

  <div class="form-outline mb-4">
    {% render_field form.password2 class="form-control form-control-lg" %}
    <label class="form-label">Confirmar Contraseña</label>
  </div>

  <div class="pt-1 mb-4">
    <button class="btn btn-dark btn-lg btn-block" type="submit">
      Crear Cuenta
    </button>
  </div>

  <p class="mb-5 pb-lg-2" style="color: #393f81">
    Ya tienes cuenta?
    <a href="{% url 'signin' %}" style="color: #393f81">Volver</a>
  </p>
</form>

{% endblock content %}
