{% extends 'base_login.html' %} 

{% block content %}
  {% load widget_tweaks %}
  <form action="{% url 'signin' %}" method="POST"> {% csrf_token %}

    <div class="d-flex align-items-center mb-3 pb-1">
      <a href="{% url 'index'%}"><span class="h1 fw-bold mb-0"><img src="../../static/images/bibliotia.png" alt="logo" width="330px" height="90px" style="margin-bottom: 30px;"></span></a>
    </div>

    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Iniciar Sesion</h3>

    <div class="form-outline mb-4">
      {% render_field form.username class="form-control form-control-lg" %}
      <label class="form-label" >Nombre de usuario</label>
    </div>

    <div class="form-outline mb-4">
      {% render_field form.password class="form-control form-control-lg" %}
      <label class="form-label" >Contraseña</label>
    </div>

    <div class="pt-1 mb-4" style="margin-top: 50px;">
      <button class="btn btn-dark btn-lg btn-block" type="submit">Ingresar</button>
    </div>

    <p style="margin-top: 15px;">{{error}}</p>

    <p class="mb-5 pb-lg-2" style="color: #393f81;">No tienes cuenta? <a href="{% url 'signup' %}"
        style="color: #393f81;">Registrate</a></p>
  </form>
          
{% endblock content %}
